version: '3'
services:
#mssql docker
  ezeljeznice-sql:
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=QWElkj132!
      - MSSQL_PID=Developer
    ports:
      - 1401:1433
    networks:
      - ezeljeznicenet

  ezeljeznice-api:
    restart: unless-stopped
    build:
      context: .
    environment:
      - ConnectionStrings:ZeljeznickeDB=Server=ezeljeznice-sql,1433;Database=DBDocker;User=sa;Password=QWElkj132!;ConnectRetryCount=0
    ports:
      - 5000:80
    networks:
      - ezeljeznicenet
    links:
      - ezeljeznice-sql
    depends_on:
      - ezeljeznice-sql
      
networks:
  ezeljeznicenet:
    driver: bridge